body {
    background-color: #c8c8c8;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #9d9d9d;
    color: white;
    text-align: center;
}
h1 {
    color: #0f4d28;
    text-align: center;
    font-size:4vw;
}
h2 {
    color: #0f4d28;
    margin-left: 2px;
}h3 {
    color: #0f4d28;
    margin-left: 2px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #787777;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: #84e8af;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.preis {
  padding: 15px;
  text-align: center;
}
div.warenkorbButton {
  padding: 15px;
  text-align: center;
}
div.logo {
  text-align: center;

}
